.header {
  background-color: rgb(0, 0, 0);
  display: flex;
  color: rgb(245, 245, 245); 
  font-family: 'Roboto';
  font-size: 25px;
  align-items: center;
  padding: 0.5em;
}


.flexbutton {
  align-items: flex-end;
  display: flex;
  justify-content:flex-end;
}


.button {
  margin-left: 3em;
  background-color: rgb(245, 245, 245); 
  font-family:'Roboto';
  font-weight: bold;
  border: none;
  color: rgb(32, 32, 32);
  border-radius: 30px;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background: rgb(190, 190, 190);
}


.menu {
  display: flex;
  list-style: none;
  margin: 0;
}



.menuItem {
  padding: 1em;
  text-decoration: none;
  color: white;
}

.category {
  display: block;
  margin-top:1em;
  margin-left: 3.5em;
  padding: 0.2em;
  padding-right: 2.5em;
  padding-left: 1em;
  border: 3px solid rgb(190, 190, 190);
  width: 120px;
  border-radius: 30px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: relative;
  transition: all 0.3s ease-in-out;

}

.category:hover {
  background-color: rgb(190, 190, 190);
}

.category select {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
  
  width: 130%;
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
}
.category:after {
  top: 50%;
  left: 85%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;

  border-width: 5px;
  margin-top: -2px;
  z-index: 100;

}